* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  margin: 0 auto;
  max-width: 700px;
  
  background-color: #d8d8d8;
  color: #111;
}

/*

Navagation Bar Settings

*/

nav {
  height: 4em;
  background-color: #303030;
  color: #eee;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


#topnav {
  width: 700px;
  height: 100%;
   
  margin: 0 auto;
  font-size: 0.9em;
  text-align: center;
  
  display: -ms-grid;
  display: grid;
  
  -ms-grid-columns: 1fr 1fr 1fr 1fr 30%;
  grid-template-columns: 1fr 1fr 1fr 1fr 30%;
}

@media (max-width: 700px) {
  #topnav {
    width: 100%;
    padding: 0 5px;
    
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

i.material-icons {
  font-size: 36px;
  display: block;
}

#topnav div {
  border-bottom: 5px solid #303030;
}

#topnav div.active {
  border-bottom-color: #eee;
}

#topnav a {
  text-decoration: none;
  color: inherit;
}

/*

Main Body Settings

*/

div.main {
  margin: 4em 5px 0;
}

div.main > div {
  display: none;
}

div.main div.active {
  display: block;
}

h1 {
  text-align: center;
}


/*
    Experince Tab
*/

.jobimg {
  float: left;
  height: 100%
}
.jobimg img{
  width: 100px;
  margin-right: 10px;
  margin-top: 5px;
}

.jobtitle {
  font-size: 1.1em;
  font-weight: bold;
}

.jobinfo{
  overflow: hidden;
}
.jobdesc::after {
  clear: both;
}

@media (max-width: 700px){
  .jobdesc{
    clear: both;
  }
  
  .jobimg img {
    margin-right: 5px;
  }
}
/*
    Contacts Tab
*/
#linkedinbox {
  text-align: center;
}
