* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  background-color: #202020;
}

body {
  margin: 0 auto;
  width: 700px;
  background-color: #d8d8d8;
  color: #202020;
}

nav {
  background-color: #202020;
  color: #fff;
  height: 4em;
}

h1 {
  text-align: center;
}
