* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  margin: 0 auto;
  max-width: 700px;
  
  background-color: #d8d8d8;
  color: #111;
}

ul {
  list-style-position: outside;
  margin-left: 1em;
}

/*

Navagation Bar Settings

*/

nav {
  height: 4em;
  background-color: #303030;
  color: #eee;
  font-family: 'Roboto Condensed', serif;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


#topnav {
  width: 700px;
  height: 100%;
   
  margin: 0 auto;
  font-size: 0.9em;
  text-align: center;
  
  display: -ms-grid;
  display: grid;
  
  -ms-grid-columns: 1fr 1fr 1fr 1fr 30%;
  -ms-grid-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 30%;
}

@media (max-width: 700px) {
  #topnav {
    width: 100%;
    padding: 0 5px;
    
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

i.material-icons {
  font-size: 36px;
  display: block;
}

#topnav div {
  border-bottom: 5px solid #303030;
}

#topnav div.active {
  border-bottom-color: #eee;
}

#topnav a {
  text-decoration: none;
  color: inherit;
}

/*

Main Body Settings

*/

div.main {
  margin: 4em 5px 0;
}

div.main > div {
  display: none;
}

div.main div.active {
  display: block;
}

h1 {
  text-align: center;
}


/*
    Experince Tab
*/
#experience > div {
  margin-bottom: 15px;
  
  display: -ms-grid;
  display: grid;
  
  -ms-grid-columns: 110px 1fr;
  grid-template-columns: 110px 1fr;
}

.jobimg {
  margin-right: 10px;
  margin-top: 5px;
}
.jobimg img{
  width: 100px;
}

.jobinfo {
  -ms-grid-column: 2;
}

#experience span.jobtitle {
  font-family: 'Roboto Condensed', serif;
  font-size: 1.1em;
  font-weight: bold;
}

.jobdesc {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  grid-column: 2 / 3;
}

#experience ul, #experience p {
  margin-bottom: 10px;
}

#experience ul:last-child {
  margin-bottom: 0;
}

@media (max-width: 700px){
  #experience > div {
    -ms-grid-columns: 95px 1fr;
    grid-template-columns: 95px 1fr;
  }
  
  .jobimg {
    margin-right: 5px;
  }
  
  .jobimg img {
    width: 90px;
  }
  
  .jobdesc {
    -ms-grid-column-span: 2;
    -ms-grid-column:1;
    grid-column: span 2;
  }
  
}

/* jQuery UI Accordion options */
#experience .ui-widget {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#experience .ui-accordion-header {
  border: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  background: inherit;
  font-weight: bold;
  font-size: 1.05em
}

#experience .ui-accordion-content {
  border: 0;
  padding: 0 0 0 8px;
  color: inherit;
  background: inherit;
  overflow: inherit;
}
/*
    Contacts Tab
*/

div.LI-profile-badge {
  width: 280px;
  margin: 10px auto;
}
