td {
  white-space:pre; text-align: center;
}

td,th {
  border: 1px solid black;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  margin: 0 auto 10px;
}

body {
  width: 650px;
  margin: 0 auto;
}

@media (max-width:650px) {
  body {
    width: 100%;
  }
}

div {
  font-size: 20px;
  text-align:center;
}

button {
  background: #999;
  color: #111;
  border:1px solid #999;
  border-radius: 2px;
  transition: all 0.5s;
}

button:hover {
  color: #999;
  background: #111;
  border: 1px solid #111;
}

img {
  display: block;
  text-align: center;
  margin: 20px auto 0;
  padding: 0;
  width:600px;
  height:600px;
}

@media (max-width:610px) {
  img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
}

a {
  text-decoration: none;
}

button {
  margin: 0 5px;
}

#zoom {
  margin: 0 auto 20px;
  padding: 0;
  line-height: 24px;
}

#tableLabel {
  width: 100px;
}

#tableLabel.small {
  width: 80px;
}

#tableMach {
  width: 250px;
}

#tableMach.small {
  width: 130px;
}

#tableGps {
  width: 180px;
}

#tableGps.small {
  width: 130px;
}
