#chart-container {
  max-width: 696px;
  margin: 2% auto;
  padding: 2% 2vw;
  background-color: transparent;
  border-radius: 5px;
}

#bar-chart {
  max-height: 68vw;
  height: 450px;
  position: relative;
}

#tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.hidden {
  display: none;
}
