body {
  max-width: 700px;
  margin: 0 auto;
}

img {
  max-width: 300px;
}

.ui-button {
  padding: .2em;
  font-size: 1em;
}

div.ui-selectmenu-menu ul {
  max-height: 300px;
}

#vehpic {
  float: right;
}

#crashRatings {
  clear: both;
}

#crashRatings img {
  float: right;
  margin-bottom: 10px;
  max-height: 120px;
}

#crashRatings .last {
  margin-bottom: 10px;
  clear: both;
}

h2, h4 {
  text-align: center;
}

h4 {
  font-size: 1.1em;
}

@media (max-width:700px) {
  body {
    width: 100%;
    margin: 0 5px;
  }
  
  #vehpic {
    float: none;
  }
  
  #crashRatings img {
    float: none;
  }
  
  .ui-button {
    font-size: 1.2em;
  }
  
  h2 {
    font-size: 1.2em;
   }
}
