body {
  max-width: 700px;
  margin: 0 auto;
}

img {
  max-width: 300px;
}

.ui-button {
  padding: .2em;
  font-size: 1em;
}

div.ui-selectmenu-menu ul {
  max-height: 300px;
}

#vehpic {
  float: right;
}

#crashratings img {
  float: right;
  margin-bottom: 10px;
}

#crashratings .last {
  margin-bottom: 10px;
}

#crashratings .last::after {
  clear: both;
}
