.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.topic-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.topic-link {
  cursor: pointer;
}

.topic-chip {
  cursor: pointer;
  margin: 4px;
}
